@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    background-image: url(https://cdn.discordapp.com/attachments/663807682485944354/821040962729279570/mature-detective.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}

p{
    margin: auto;
}

p#clo{
    margin: 25px 0px;
}

nav{
	position: fixed;
    height: 75px;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:100;
}

.anaMenu{
    height: 55px;
    width: 15%;
    background-color: palegoldenrod;
    align-items:center;
    align-content: center;
}

.menuDevamı{
    height: 55px;
    width: 85%;
    background-color: peru;
    align-items:center;
    align-content: center;
}

.altKisim{
    display: flex;
    margin: 20px auto;
    width: 70%;
    height: 200px;
    justify-content: space-between;
}

.kolon{
    background-color: teal;
    width: calc(33% - 10px);
}

article{
    display:flex;
    flex-direction:column;
}

#head{
    text-align: center;
}

.mid {
    text-align: center;
    
}
#baslik{
    font-size: 50px;
    
}

#clo{
    font-size: 30px;
}

#paragraf{
    font-size: 25px;
    display: inline-block;
    width: 70%;
}

#copyright{
    text-align: right;
    position: absolute;
    top:94%;
}




